/*Media quary*/
h1 {
    color: red;
}

@media screen and (max-width:500px) {
    h1 {
        color: green;
    }
}

/*Min width*/
p {
    background-color: blueviolet;
    color: chartreuse;
}

@media screen and (min-width:800px) {
    p {
        background-color: brown;
        color: #789;
    }
}

/*Min width*/
h3 {
    display: none;
  }
  
  @media screen and (orientation: landscape) {
    h3 {
      display: block;
    }
  }